<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Analysis Grocery Shopping</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.maskMoney.js') }}"></script>
    {% block css %} {% endblock %}
</head>
<body>
    <div class="ui container">
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>